<!DOCTYPE html>
<html>
<head>
    <title>
        LOGIN | Hotel Management 
    </title>
    <link rel="stylesheet" href="{{ url_for ('static', filename ='css/style.css') }}" >
</head>
<body class="login-body">
    <div class = "login-container">
        <h2>Hotel Management Login</h2>
        <form method="POST" action="/">
            <input type = "type" name="username" placeholder="username" required>
            <input type = "password" name="password" placeholder="Password" required>
            <button type="submit">LOGIN</button>
        </form>
        <p class="msg">{{ msg }}</p>
    </div>
</body>
</html>